*{
  margin: auto;
  padding: 0;
  color: white;
  width: auto;
  font-family: sans-serif;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #191919;
}
#navBar {
  border-bottom: 1px solid white;
  margin: auto;
}
.btn {
  margin: 10px;
  width: auto;
}
.form-group {
  margin: 10px;
}
.text {
  margin: 2px 10px;
}
.badCSS {
    padding-left: 10px !important
}
#chattersMain{
  overflow: hidden;
}
#labelVip{
  border:5px;
  color: {{FDvipColor}}
}
#labelSub{
  border:5px;
  color: {{FDsubColor}}
}
#labelMod{
  border:5px;
  color: {{FDmodColor}}
}
#labelOther{
  border:5px;
  color: {{FDotherColor}}
}
#infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid white;
  padding-bottom:2vh;
}
.totalInfo {
  font-size: 22px;
  margin: 5px;
}
.detailInfo {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.msg {
  border-bottom: 2px solid #ffffff33;
  padding: 10px;
  font-size: 5.5vw;
}
.msg:nth-child(even){
  background: #000;
}
.msgUserChat {
	margin-left: 16px;
    margin-top: 1.5vmin;
}
.msgUser {
    padding: 0px 5px;
    padding: 2px 3vw;
    border-radius: 8px;
    text-shadow: 1px 1px #000;
    font-weight: bold;
    font-size: 7vw;
    line-height: 7vmin;
}
.mod {
  background-color: {{FDmodColor}};
  color: {{FDmodFontColor}};
}
.vip {
  background-color: {{FDvipColor}};
  color: {{FDvipFontColor}};
}
.sub {
  background-color: {{FDsubColor}};
  color: {{FDsubFontColor}};
}
.other {
  background-color: {{FDotherColor}};
  color: {{FDotherFontColor}};
}
